@keyframes slide {
    0%{left: 0;}
    30.3%{left: 0;}
    33.3%{left: -100%;}
    63.3%{left: -100%;}
    66.6%{left: -200%;}
    96.6%{left: -200%;}
    100%{left: -300%;}
}

#carousel {
    animation-name: slide;
    animation-duration: 18s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

@keyframes slide-up {
    from {top: 0%;}
    to {top: -100%}
}

.contact img:hover, footer img:hover {
    animation-name: slide-up;
    animation-duration: 250ms;
    animation-fill-mode: forwards;
}

@keyframes slide-down {
    from {top: -100%;}
    to {top: 0%}
}

.contact img:not(:hover), footer img:not(:hover) {
    animation-name: slide-down;
    animation-duration: 250ms;
    animation-fill-mode: forwards;
}