@keyframes slide {
    0%{left: 0;}
    30.3%{left: 0;}
    33.3%{left: -100%;}
    63.3%{left: -100%;}
    66.6%{left: -200%;}
    96.6%{left: -200%;}
    100%{left: -300%;}
}

#carousel {
    animation-name: slide;
    animation-duration: 18s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

/**/

/*@keyframes slide {
    0%{left: 0;}
    15%{left: 0;}
    18.3%{left: -100%;}
    48.3%{left: -100%;}
    51.6%{left: -200%;}
    81.6%{left: -200%;}
    85%{left: -300%;}
    100%{left: 300%;}
}*/
